//file to override vue bootstrap styles

$blue: #6785ff !default;
$red: #ff7675 !default;
$green: #00cec9;


.custom-control {
  &.custom-radio {
    display: inline-block;
    margin-left: 20px;

    &:first-child {
      margin: 0;
    }
  }
}
.form-group {
  margin-top: 25px;

  > label {
    font-weight: 600;
  }
}

.input-group {
  .input-group-text {
    background-color: #f3f5f6;
  }
}

